/* таблет */
@media (max-width: 992px) {
    .menu-toggle {
        display: block;
        font-size: 28px;
        text-align: right;
        margin-right: 50px;
    }

    nav {
        margin-right: 0;
        padding: 10px 20px;
    }

    .nav-links {
        display: none;
        width: 90%;
        background-color: rgb(10, 20, 30, 0.8);
        padding: 10px;
    }

    .nav-links.open {
        display: block;
    }

    .nav-links ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .nav-links ul li {
        padding: 6px 0;
    }

    .text-box h1 {
        font-size: 42px;
    }

    .gallery-home {
        height: 380px;
        padding: 80px 0 30px;
        overflow: hidden;
    }

    .heading {
        display: none;
    }

    .services {
        padding: 40px 15px 60px;
    }

    .services-row {
        margin: auto;
        flex-direction: column;
        align-items: center;
    }

    .services-boxes {
        width: 90%;
        flex-direction: column;
    }

    .contact-container {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .footer {
        padding: 20px;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
        gap: 25px;
    }

    .footer-contact p {
        text-align: center;
    }
}

/* телефон */
@media (max-width: 600px) {
    .gallery-container {
        gap: 15px;
    }

    .gallery-item img {
        width: 100%;
        height: auto;
        margin: 5px 0;
    }

    .team-container {
        gap: 30px;
    }

    .contact-container {
        grid-template-columns: 1fr;
    }

    .contact-form {
        margin-top: 20px;
    }

    #overlay img {
        max-width: 95%;
        max-height: 85%;
    }

    .footer-nav ul {
        grid-template-columns: 1fr;
        row-gap: 12px;
        justify-items: center;
    }

    .footer-socials a {
        margin-right: 15px;
    }
}